# File hệ thống của Mac/Windows
.DS_Store
Thumbs.db

# File cấu hình của editor (VS Code, JetBrains)
.vscode/
.idea/

# File log lỗi
*.log

# Thư mục module (nếu sau này có cài thêm thư viện qua npm)
node_modules/