/* Body chung */
body{
    padding-top: 67px;
}


body.index-body {
    background-color: var(--index_bg-body);
    color: var(--index_text-default);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* Container ứng dụng */
.index_app-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Nội dung chính */
.index_main-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/* Tắt caret ở mọi nơi */
* {
    caret-color: transparent !important;
}

/* Cho phép caret ở nơi cần nhập */
input,
textarea,
select,
[contenteditable="true"] {
    caret-color: auto !important;
}

/*  hiệu ứng load */
body.loading {
    overflow: hidden;
}
.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.animate-spin-slow {
    animation: spin-slow 3s linear infinite;
}