.footer_main_container {
    width: 100%;
    background-color: #1a1c35;
    color: #F3F4F6;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
}

.footer_container {
    max-width: 1280px;
    margin: 0 auto;
}

/* GRID LAYOUT */
.footer_grid {
    display: grid;
    /* Trên Mobile có 2 cột */
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem 1rem;
}

@media (min-width: 768px) {
    .footer_grid {
        /* Trên máy tính 4 cột */
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Logo Area (Cột 1) */
.footer_logo_area {
    /* điện thoại chiếm 2 cột*/
    grid-column: span 2;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .footer_logo_area {
        /* máy tính 1 cột */
        grid-column: span 1;
    }
}

.footer_logo {
    width: 3.55rem;
    height: auto;
    object-fit: contain;
    display: block;
}

.footer_logo_row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.footer_logo_text {
    font-size: 1.25rem;
    font-weight: 700;
    color: #F3F4F6;
}

.footer_description {
    font-size: 0.875rem;
    color: #94A3B8;
    margin-top: 1rem;
}

/* Headings */
.footer_heading {
    font-size: 1.125rem;
    font-weight: 600;
    color: #8B5CF6;
    margin-bottom: 1rem;
}

/* Link/Info Groups */
.footer_link_group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
}

/* Links & Hover */
.footer-link, .footer_info_value {
    color: #94A3B8;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #6366F1;
}

/* Contact Info (Cột 4) */
.footer_contact_item {
    color: #F3F4F6;
}

.footer_contact_item b {
    font-weight: 600;
}

/* Copyright Section */
.footer_copyright {
    background: #0F172A;
    padding: 1rem 0;
    border-top: 1px solid rgba(99,102,241,0.25);
    box-shadow: 0 -2px 10px rgba(99,102,241,0.25);
    text-align: center;
}

.footer_copyright span {
    color: #94A3B8;
    font-size: 0.875rem;
}
.footer_copyright a {
    color: #94A3B8;
    font-size: 0.875rem;
    font-weight: bold;
}